extends ../layouts/layout

block content
	nav.top-bar
		form#search-form
			.row
				.right.large-6.columns
					.row-collapse
						.small-10.columns
							input(type='text', required).pure-input-rounded.search-input
						.small-2.columns
							button(type='submit').pure-button Search

	#search-div

	br
		
	.row
		.small-3.small-centered.columns
			a(href='/places/new').button Add New Place

	include category
	h2.subheader Places
	div
		if(places)
			table#place-tbl
				thead
					tr
						th Name
						th Station
						th Distance
						th Website
						th Map
						th Coordinates
						th Category
						th Sub Category
						th Links
				tbody
					each place in places 
						tr
							td #{place.name}
							td #{place.line.name}-#{place.stop.name}
							td #{place.distance}
							td: a(href='#{place.website}') #{place.website}
							td: a(href='#{place.map}') #{place.map}
							td #{place.coordinates.lng},#{place.coordinates.lat}
							td #{place.category}
							td #{place.subcategory}
							td: a(href='/places/#{place.id}').button Show
									a(href='/places/#{place.id}/edit').button Edit
									a(href='/places/#{place.id}/delete').button.delete-place Delete
			.row
				.small-3.small-centered.columns
					#load-btn
					//- a(href='#').button#load-btn Load more...
		else
			h4.subheader.small-1.small-centered.columns #{places.error}

block append scripts
	script(src='/scripts/standalone/places_util.js')
	script(src='/scripts/standalone/get_place.js')
	script(src='/scripts/standalone/paginate_place.js')
