mixin inputField(label, name)
	.row
		.small-8
			.row
				.small-3.columns
					label.right.inline #{label}
					isRequired = true
					if(name==='website')
						isRequired = false
				.small-9.columns
					if(place)
						val = (name=='coordinates') ? (place[name].lng+','+place[name].lat) : place[name]
						input(type='text', name=name, value=val, required=isRequired)
					else
						input(type='text', name=name, required=isRequired)

mixin selectStation
	.row
		.small-8
			.row
				.small-3.columns
					label.right.inline Station
					if(place)
				.small-9.columns
					select(name='line', id='line', required)
						option(value='') -- Select Line --
						//- - console.log('place!!!!'+place.line)
						each value, key in lines
							if(place)
								option(id='stnkey', value='#{key}', selected=(place.line.name=='#{value}')) #{value}
							else
								option(id='stnkey', value='#{key}') #{value}
					span#stops
					//- 	if(place)
					//- 		select(name='stop', id='stop', required)
					//- 			option(value='') -- Select Stop --
					//- 			each value, key in lines
					//- 				each val, idx in value 
					//- 					if(st[0]==idx)
					//- 						each stn, k in val
					//- 							option(id='stnkey', value='#{stn.name}', selected=(place.stop=='#{stn.name}')) #{stn.name}

fieldset
	mixin inputField('Name', 'name')
	mixin selectStation
	mixin inputField('Distance', 'distance')
	mixin inputField('Website', 'website')
	mixin inputField('Map', 'map')
	mixin inputField('Coordinates', 'coordinates')
	include category
	.row
		.small-5.small-centered.columns
			input(type='submit', id='preview', value='Preview').button
			//- input(type='button', value='Back to all places', onclick='document.location.href="/places"').pure-button
			a(href='/places').button Back to 'All Places' page