mixin hiddenForm(name, value)
	input(type='hidden', name=name, value='#{value}')

if(formMethod==='POST')
	h2.subheader Preview New Place
else
	h2.subheader Preview Edit Place

div
	//- form(method='POST', action='/places').pure-form.pure-form-aligned
	form(method='POST', action=formAction)
		if(formMethod==='PUT')
			input(name='_method', value='PUT', type='hidden')
		mixin hiddenForm('name', place.name)
		mixin hiddenForm('station', place.station)
		mixin hiddenForm('stop', place.stop)
		mixin hiddenForm('distance', place.distance)
		mixin hiddenForm('website', place.website)
		mixin hiddenForm('map', place.map)
		mixin hiddenForm('coordinates', place.coordinates)
		mixin hiddenForm('category', place.category)
		table
			tbody
				tr
					td Name:
					td #{place.name}
				tr
					td Station:
					td #{place.station}
				tr
					td Stop:
					td #{place.stop}
				tr
					td Distance:
					td #{place.distance}
				tr
					td Website:
					td #{place.website}
				tr
					td Map:
					td #{place.map}
				tr
					td Coordinates:
					td #{place.coordinates}
				tr
					td Category:
					td #{place.category}
		
		.row
			.small-5.small-centered.columns
				input(type='submit', name='save', value='Save').button
				input(type='button', id='cancel', value='Cancel').button