mixin hiddenForm(name, value)
	input(type='hidden', name=name, value='#{value}')

if(formMethod==='POST')
	h2.subheader Preview New Place
else
	h2.subheader Preview Edit Place

div
	//- form(method='POST', action='/places').pure-form.pure-form-aligned
	form(method='POST', action=formAction)
		if(formMethod==='PUT')
			input(name='_method', value='PUT', type='hidden')
		mixin hiddenForm('name', place.name)
		mixin hiddenForm('lineId', place.line._id)
		mixin hiddenForm('stopId', place.stop._id)
		mixin hiddenForm('lineName', place.line.route_short_name)
		mixin hiddenForm('routeId', place.line.route_id)		
		mixin hiddenForm('stopName', place.stop.stop_name)
		mixin hiddenForm('distance', place.distance)
		mixin hiddenForm('website', place.website)
		mixin hiddenForm('map', place.map)
		mixin hiddenForm('coordinates', place.coordinates)
		mixin hiddenForm('category', place.category)
		mixin hiddenForm('subcategory', place.subcategory)
		table
			tbody
				tr
					td Name:
					td #{place.name}
				tr
					td Line:
					td #{place.line.route_short_name}
				tr
					td Stop:
					td #{place.stop.stop_name}
				tr
					td Distance:
					td #{place.distance}
				tr
					td Website:
					td #{place.website}
				tr
					td Map:
					td #{place.map}
				tr
					td Coordinates:
					td #{place.coordinates}
				tr
					td Category:
					td #{place.category}
				tr
					td Sub Category:
					td #{place.subcategory}
		
		.row
			.small-5.small-centered.columns
				input(type='submit', name='save', value='Save').button
				input(type='button', id='cancel', value='Cancel').button