if(places.length > 0)
	h2.subheader Results:
	table
		thead
			tr
				th Name
				th Station
				th Distance
				th Map
				th Coordinates
				th Category
		tbody
			each place in places 
				tr
					td #{place.name}
					td #{place.line.route_short_name} #{place.stop.stop_name}
					td #{place.distance}
					td #{place.map}
					td #{place.coordinates.lng},#{place.coordinates.lat}
					td #{place.category}
else
	| No data found.