if(places.length > 0)
	h2.subheader Result: #{places.length} record(s)
	table
		thead
			tr
				th Name
				th Station
				th Distance
				th Website
				th Map
				th Coordinates
				th Category
				th Sub Category
				th Links
		tbody
			each place in places 
				tr
					td #{place.name}
					td #{place.line.name}-#{place.stop.name}
					td #{place.distance}
					td: a(href='#{place.website}') #{place.website}
					td: a(href='#{place.map}')
						img(src='/images/map.png')
					td #{place.coordinates.lng},#{place.coordinates.lat}
					td #{place.category}
					td #{place.subcategory}
					td: a(href='/places/#{place.id}').button Show
							a(href='/places/#{place.id}/edit').button Edit
							a(href='/places/#{place.id}/delete').button.delete-place Delete
else
	| No data found.