extends ../layouts/layout

block content

	nav.top-bar
	div
		table
			tbody
				tr
					td Name:
					td #{place.name}
				tr
					td Station:
					td #{place.line.name} #{place.stop.name}
				tr
					td Distance:
					td #{place.distance}
				tr
					td Website:
					td #{place.website}
				tr
					td Map:
					td #{place.map}
				tr
					td Coordinates:
					td #{place.coordinates.lng},#{place.coordinates.lat}
				tr
					td Category:
					td #{place.category}
				tr
					td Sub Category:
					td #{place.subcategory}
	.row
		.small-5.small-centered.columns
			a(href='/places/' + place._id + '/edit').button Edit
			a(href='/places').button Back to 'All Places' page