
extends layouts/layout

block content
	div(ng-app="trainguide")
		div(ng-controller="MainCtrl", ng-cloak)
			include slidegroup
			include sidebar	
			.container(ng-controller="GMapCtrl")
				.google-map(center="centerProperty",
					zoom="zoomProperty",
					paths="pathsProperty",
					markers="markers",
					stop-markers="stopMarkersProperty",
					latitude="clickedLatitudeProperty",
					longitude="clickedLongitudeProperty",
					draggable="true",
					style="height: 100%; width: 100%;")
					map-router(selected-stop='selected.stop', selected-dest='selected.dest')
					itinerary-render(itinerary='selected.itinerary')
					polyline-drawer(paths="lines", selected-line='selected.line', selected-stop="selected.stop", show-details='showDetails', selected-item="selectedItem")
					globalize-map
					trip-adder(is-search='selected.isSearch', direction='selected.direction')
			ng-view

block append scripts
	script(src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyAeFiH4LhZTvKbXDNr2I8TrL9MauXt02PQ&sensor=true")
	script(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js")
	script(src="./components/jquery/jquery.js")
	script(src="./components/jquery.svg/jquery.svg.js")
	script(src="./components/d3/d3.js")
	script(src="./components/richmarker.js")
	script(src="./components/jquery-mousewheel.js")
	script(src="./components/antiscroll.js")
	if !production
		script(src='./scripts/main-app.js')
		script(src='./scripts/controllers/main.js')
		script(src='./scripts/controllers/gmap.js')
		script(src='./scripts/controllers/place.js')
		script(src='./scripts/controllers/directions.js')
		script(src='./scripts/filters/filters.js')
		script(src='./scripts/services/common.js')
		script(src='./scripts/services/linesservice.js')
		script(src='./scripts/services/stopsservice.js')
		script(src='./scripts/services/transfersservice.js')
		script(src='./scripts/services/placesservice.js')
		script(src='./scripts/services/directionsservice.js')
		script(src='./scripts/directives/gmap/google-map.js')
		script(src='./scripts/directives/gmap/map-router.js')
		script(src='./scripts/directives/gmap/polyline-drawer.js')
		script(src='./scripts/directives/gmap/globalize-map.js')
		script(src='./scripts/directives/gmap/places-autocomplete.js')
		script(src='./scripts/directives/gmap/itinerary-render.js')
		script(src='./scripts/directives/gmap/trip-adder.js')
		script(src='./scripts/directives/ui/lines.js')
		script(src='./scripts/directives/ui/linestops.js')
		script(src='./scripts/directives/ui/radiogroup.js')
		script(src='./scripts/directives/ui/slide.js')
		script(src='./scripts/directives/ui/slidegroup.js')
		script(src='./scripts/directives/ui/slideshow.js')
		script(src='./scripts/directives/ui/placesbox.js')
		script(src='./scripts/directives/ui/places.js')')
		script(src='./scripts/directives/ui/searchplace.js')
		script(src='./scripts/directives/ui/categories.js')
		script(src='./scripts/directives/ui/tips.js')
		script(src='./scripts/directives/ui/direction.js')
		script(src='./scripts/directives/ui/route.js')
	else
		script(src='./scripts/scripts.js')