slide-group(selected-item='selectedItem', selected-stop='selected.stop', selected-line='selected.line', show-details='showDetails').slide-group
		slide(title='Line')
			.content-box(style='top: 0px;')
				lines(lines='lines', selected-line='selected.line', selected-stop='selected.stop', show-details='showDetails', get-line-details='getLineDetails')
				.content-inner
					#stop-content(ng-class="{true:'showdetails', false:'nodetails'}[showDetails]")

						slideshow(images='selectedItem.images')

						nearby
							
					#line-content(ng-class="{true:'nodetails', false:'showdetails'}[showDetails]")
						line-stops(selected-item="selectedItem", selected-line='selected.line', selected-stop='selected.stop', show-details='showDetails')

		slide(title='Places')
			div(ng-controller='PlaceCtrl')
				.title-box
					search(selected-category="selected.category", search-str="searchStr", on-search="searchFn", result-places="resultPlaces")
				.content-box
					categories(categories="activeCategories", selected-category="selected.category", 
						search-str="searchStr", result-places="resultPlaces")
					places(selected-category="selected.category", search-str="searchStr",
						get-places-count="getPlaces", on-query-places="getLimitedPlaces", 
						places="places", active-categories="activeCategories", 
						result-places="resultPlaces", on-search="searchFn",
						set-stop="setStop", selected-dest="selected.dest")

		slide(title='Featured')
			.featured-box
				.title-box
					h2 Featured
						span  places

				.content-box
					ul
						li(ng-repeat='place in featuredPlaces')
							.landmark
								img(src='{{place.image}}').{{place.line}}
								info
									span
										h4 {{place.name}}
									span {{place.stop}}

		slide(title='Tips')
			tips(data='tips')

		slide(title='Download')
			div
				//- h6 Download
				div.download 
					p Sometimes it's just more convenient to bring a paper copy of a guide, so we've distilled the most important information into this handy downloadable brochure. Click on the images below for a preview or download the high resolution version.
					//- p
					//- 	a(href='http://db.tt/Un7XOsSb')
					//- 		h3 Tablet Size Hi Res (2048x1536px)
					//- p
					//- 	a(href='http://db.tt/88wYVJLd')
					//- 		h3 Tablet Size Low Res (1024x768px)
					//- p
					//- 	a(href='http://db.tt/4oErTt3y')
					//- 		h3 Print Size (8.5x11 inches)
					p
						a(href='https://db.tt/m74GY2SB') Download brochure
					p
						a(href='https://db.tt/pRvFx0pT', target='_blank')
							img(src='/images/preview1.jpg')
						a(href='https://db.tt/x51Grv8j', target='_blank')
							img(src='/images/preview2.jpg')
						a(href='https://db.tt/26CMswE0', target='_blank')
							img(src='/images/preview3.jpg')
						a(href='https://db.tt/uo9wOEhH', target='_blank')
							img(src='/images/preview4.jpg')